{{ define "main" }}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <article class="py-4">
                    <a href="/posts/" class="post-back-button">
                        <i class="fas fa-arrow-left"></i> Back to News
                    </a>

                    <header class="post-header mb-4">
                        <img class="post-header-image" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                        <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                        <h1 class="post-header-title">{{ .Title }}</h1>
                    </header>

                    <div class="post-body">{{ .Content }}</div>

                    <p class="post-author">Written by {{ .Params.author }}</p>
                </article>
            </div>
        </div>
    </div>
</main>
{{ end }}
